:root {
  --color-primary: #008B74;
  --color-primary-2: #00C2A8;
  --color-primary-3: #4FFBDF;
}

.grid-container {
  display: grid;
  width: 85%;
  height: 80vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
  grid-template-columns: repeat(3 , 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2%;

  grid-template-areas: 
  "details details comments"
  "details details comments"
  "details details create";
}

.grid-container > * {
  background-color: var(--color-primary-3);
  border-radius: 10px;
}

.grid-container .grid-item-details {
  grid-area: details;
}

.grid-container .grid-item-comments {
  grid-area: comments;
}

.grid-container .grid-item-create {
  grid-area: create;
}

.grid-item-details {
  display: grid;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
  grid-template-columns: repeat(3 , 1fr);
  grid-template-rows: repeat(3, 1fr);

  grid-template-areas: 
  "img img info"
  "img img info"
  "buttons buttons buttons";
}

.grid-item-details .grid-item-details-img {
  grid-area: img;
}

.grid-item-details-info {
  grid-area: info;
}

.grid-item-details-buttons {
  grid-area: buttons;
}

.grid-item-details-img img {
  width: 80%;
  height: 85%;
  border: 1px solid black;
  margin: 5% auto;
}

.grid-item-details-info p {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}

.grid-item-details-info p {
  width: 90%;
  margin: 36px auto;
  height: auto;
  text-align: center;
  font-weight: bold;
}

.grid-item-details-info span {
  font-weight: lighter;
}

.grid-item-details-buttons {
  width: 100%;
  height: 80%;
  display: flex;
  margin-left: 30px;
  gap: 80px;
  align-items: center;
}

.grid-item-details-buttons__owner {
  display: flex;
  margin-left: 3%;
  height: 100%;
}

.grid-item-details-buttons__owner img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  align-self: center;
  margin-right: 2%;
}

.owner-info {
  align-self: center;
  font-size: 20px;
  font-weight: bold;
}

.grid-item-details-buttons__likes i , .grid-item-details-buttons__likes p {
  font-size: 40px;
}

.grid-item-details-buttons__likes span {
  margin-left: 10px;
}

.action-buttons button {
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  background: #7c7e7e;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.action-buttons a {
  margin-left: 20px;
  padding: 14px 28px;
  border-radius: 5px;
  background: #7c7e7e;
  text-decoration: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.action-buttons a:hover {
  color: #7c7e7e;
  background-color: whitesmoke;
}

.action-buttons button:hover {
  color: #7c7e7e;
  background-color: whitesmoke;
}

.online i , .offline i {
  display: inline;
  font-size: 15px;
  margin-left: 2px;
}

.online {
  color: green;
}

.offline {
  color: red;
}

.grid-item-comments h2 {
  text-align: center;
}

.scroll {
  background-color: white;
  width: 80%;
  height: 80%;
  margin: auto;
  border: 1px solid black;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  padding: 20px;
}

.post {
  width:90%;
  margin: auto;
  display: block;
}

.answer-comment {
  width: 100%;
  height: 200px;
  display: block;
  margin-top: 1em;
  margin-bottom: 50px; 
}

.answer-comment h2 {
flex-basis: 15%;
padding-bottom: 0.3em;
text-align: center;
}

.answer-comment p span {
color: black;
font-size: 30px;
font-weight: bold;
}

.answer {
background-color: white;
width: 90%;
margin: auto;
border: 1px solid;
border-radius: 0.3em;
flex-basis: 85%;
text-align: center;
}

.answer textarea {
width: 90%;
height: 100px;
margin-top: 1rem;
border-radius: 0.5rem;
}

.answer button {
background-color: gray;
color: white;
margin: 0.5em 1em;
padding: 0.2em 1em;
border: 1px solid;
border-radius: 0.3em;
}

.answer button:hover {
cursor: pointer;
}

.comment-area {
min-width: 100%
} 

.spinner {
  position: absolute;
  top: 300px;
  left: 50%;
}