<ng-container *ngIf="!isEditMode">
    <div class="profile"><img src="../../../assets/profile-pic.jpg" alt="default user">
        <h3>User Info:</h3>
        <div class="flex">
            <p>Username: </p>
            <p>{{ (currentUser$ | async)?.username}}</p>
        </div>
        <div class="flex">
            <p>Email: </p>
            <p>{{(currentUser$ | async)?.email}}</p>
        </div>
        <div class="flex">
            <p>Phone: </p>
            <p>{{(currentUser$ | async)?.tel}}</p>
        </div>
        <div class="buttons">
            <button (click)="editHandler()" class="blue-button">Edit Profile</button>
            <a class="userStrollers" routerLink='/strollers/userStrollers/{{(currentUser$ | async)?._id}}'>User Strollers</a>
        </div>
    </div>
</ng-container>

<div *ngIf="isEditMode" class="container">
    <div class="profile">
        <img src="../../../assets/profile-pic.jpg" alt="default user">
        <h3>User Info:</h3>

        <div class="error" *ngIf="errorMessage">
            {{errorMessage}}
        </div>

        <form [formGroup]="profileEditFormGroup" (ngSubmit)="updateProfile()">
            <div class="flex">
                <p>Username: </p>
                <input type="text" name="username" id="username" formControlName="username">
            </div>

            <ng-container
                *ngIf="profileEditFormGroup.controls['username'].touched && profileEditFormGroup.controls['username'].invalid">
                <p *ngIf="profileEditFormGroup.controls['username'].errors!['required']" class="error">
                    Username is required!
                </p>
                <p *ngIf="!profileEditFormGroup.controls['username'].errors!['required'] && profileEditFormGroup.controls['username'].errors!['minlength']"
                    class="error">
                    Username must be at least 5 symbols!
                </p>
            </ng-container>

            <div class="flex">
                <p>Email: </p>
                <input type="email" name="email" id="email" formControlName="email">
            </div>

            <ng-container
                *ngIf="profileEditFormGroup.controls['email'].touched && profileEditFormGroup.controls['email'].invalid">
                <p *ngIf="profileEditFormGroup.controls['email'].errors!['required']" class="error">
                    Email is required!
                </p>
                <p *ngIf="!profileEditFormGroup.controls['email'].errors!['required'] && profileEditFormGroup.controls['email'].errors!['pattern']"
                    class="error">
                    Email is not valid!
                </p>
            </ng-container>

            <div class="flex">
                <p>Phone: </p>
                <div>
                    <input type="text" name="tel" id="tel" value="885 888 888" formControlName="tel">
                </div>
            </div>
            <div class="buttonsInEdit">
                <button type="button" (click)="cancelHandler()" class="red-button">Cancel</button>
                <button *ngIf="!isUpdating" [disabled]="profileEditFormGroup.invalid"
                    [ngStyle]="{'backgroundColor': profileEditFormGroup.valid === false ? 'red' : 'green' }"
                    class="green-button">Save</button>
            </div>
        </form>
    </div>
</div>