<li class="card">
    <img src="{{stroller.imageUrl}}" alt="travis" />
    <p>
      <strong>Brand: </strong><span class="brand">{{stroller.babyStrollerBrand}}</span>
    </p>
    <p>Value:<span class="value">{{stroller.price}}</span>$</p>
    <p>CreatedAt:<span class="value">{{stroller.created_at | date:'dd/MM/yyyy HH:mm:ss'}}</span></p>
  
    <p>Owner:<span class="value">{{stroller.userId.username}}</span></p>
    <a class="details-btn" [routerLink]="['/strollers', stroller._id]">Details</a>
</li>


<!-- //TODO correct the the data and add css to handle imageUrl -->