.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 20px;
  border: 2px ridge rgb(210, 208, 208);
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(0, 0, 0, 0.24);
  overflow: hidden;
}
.card__img {
  width: 100%;
  height: 60%;
}

.card__img img {
  width: 100%;
  height: 100%;
}

.card-wrapper {
  list-style-type: none;
  display: inline-block;
  flex-wrap: wrap;
}

.card-wrapper h2 {
  margin: auto;
}

.details-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-bottom: 5px;
  margin-top: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1vw;
  width: 30%;
  padding: 0.2vw;
  text-align: center;
  color: white;
  background: #7c7e7e;
}

.details-btn:hover {
  color: white;
  background: lightgray;
}

.card p {
  margin: auto;
  width: 100%;
  font-size: 1vw;
  text-align:start;
  padding-left: 5%;
}

.card span {
  padding: 1vw;
  margin: auto;
}