<li class="card">
  <img src="{{stroller.imageUrl}}" alt="travis" />
  <p *ngIf="stroller.babyStrollerBrand.length > 12">
    <strong>Brand: </strong><span class="brand">{{ (stroller.babyStrollerBrand | slice:0:12)}}...</span>
  </p>
  <p *ngIf="stroller.babyStrollerBrand.length <= 12">
      <strong>Brand: </strong><span class="brand">{{stroller.babyStrollerBrand}}</span>
  </p>
  <p>Value:<span class="value">{{stroller.price}}</span>$</p>
  <p>Condition:<span class="value">{{stroller.condition}}</span></p>
  <p>CreatedAt:<span class="value">{{stroller.created_at | date:'dd/MM/yyyy HH:mm:ss'}}</span></p>
  <p>Status:<span class="value">{{stroller.status}}</span></p>
  <p>Owner:<span class="value">{{stroller.userId.username}}</span></p>
  <a class="details-btn" [routerLink]="['/strollers', stroller._id]">Details</a>
</li>