<section id="search">
    <div class="select">
        <h2>Search by:</h2>
        <select (change) = "searchByHandler($any($event.target).value)" name="searchBy" id="searchBy">
                <option value="babyStrollerBrand">Brand</option>
                <option value="condition">Condition</option>
                <option value="price">Price</option>
        </select>

        <form class="brand" *ngIf="searchingBY === 'babyStrollerBrand'" [formGroup]="searchFormGroup" (ngSubmit)="searchByBrandHandler()">
         
            <input id="#search-input" type="text" name="search" placeholder="Search here..." formControlName="search"/>
            <button type="submit">Search</button>
        </form>

        <form class="condition" *ngIf="searchingBY === 'condition'" [formGroup]="searchByConditionFormGroup" (ngSubmit)="searchByConditionHandler()">
         
            <select name="searchBy" id="searchBy" formControlName="searchByCondition">
                <option value="new">New</option>
                <option value="use">Use</option>
            </select>
            <button type="submit">Search</button>
        </form>

        <form class="price" *ngIf="searchingBY === 'price'" [formGroup]="searchByPriceFormGroup" (ngSubmit)="searchByPriceHandler()">
            <input type="number" id="quantity" name="quantity" step="10" formControlName="min">
            <input type="number" id="quantity" name="quantity" step="10" formControlName="max">
    
            <button type="submit">Search</button>
        </form>   
    </div>
</section>

<div class="catalog">
        <!-- <div *ngIf="!strollersResult">
            ...loading
        </div> -->
    
        <ng-container *ngIf="!!strollersResult">
            <ul>
                <div *ngFor="let stroller of strollersResult.slice(skip,skip + 3)" class="card-wrapper">
                    <li class="card">
                        <img src="{{stroller.imageUrl}}" alt="travis" />
                        <p>
                          <strong>Brand: </strong><span class="brand">{{stroller.babyStrollerBrand}}</span>
                        </p>
                        <p>Value:<span class="value">{{stroller.price}}</span>$</p>
                        <p>CreatedAt:<span class="value">{{stroller.created_at | date:'dd/MM/yyyy HH:mm:ss'}}</span></p>
                      
                        <p>Owner:<span class="value">{{stroller.userId.username}}</span></p>
                        <a class="details-btn" [routerLink]="['/strollers', stroller._id]">Details</a>
                    </li>
                </div>
            </ul>
            <div class="pagination" *ngIf="strollersResult.length > 0">
                <button class="button" [disabled]="page == 1" (click)="pageMinusHandler()" type="button">Previous</button>
                <p>{{page}}/{{lastPage}}</p>
                <button class="button" [disabled]="page == lastPage" type="button" (click)="pagePlusHandler()">Next</button>
            </div>
    
            <div *ngIf="strollersResult.length === 0">
                <h2 class="noresult">No result for this search</h2>
            </div>
        </ng-container>
</div>

