<header>
  <!-- Navigation -->
  <a id="logo" routerLink="/home"><img id="logo-img" src="../../../assets/cute-baby-logo-design-vector_56473-234.webp"
      alt="" /></a>
  <nav>
    <ng-container *ngIf="(currentUser$ | async)?.roles === 'admin'">
      <div class="user">
        <a [routerLink]="['/admin']" [queryParams]="{page:'1'}">Admin Catalog</a>
        <a href="javascript:void(0)" (click)="logoutHandler()">Logout</a>
      </div>

    </ng-container>

    <ng-container *ngIf="(currentUser$ | async)?.roles !== 'admin'">
      <div>
        <a [routerLink]="['/strollers']" [queryParams]="{page:'1'}">Catalog</a>
        <a routerLink="/search">Search</a>
      </div>

      <!-- Logged-in users -->
      <div *ngIf="!!(isLogged$ | async)" class="user">
        <a routerLink="/strollers/create">Add+</a>
        <a routerLink="/auth/profile">{{ (currentUser$ | async)?.username }}</a>
        <a href="javascript:void(0)" (click)="logoutHandler()">Logout</a>
      </div>

      <!-- Guest users -->
      <div *ngIf="!(isLogged$ | async)" class="guest">
        <a routerLink="/auth/login">Login</a>
        <a routerLink="/auth/register">Register</a>
      </div>
    </ng-container>
  </nav>
</header>