header {
  display: flex;
  font-weight: bolder;
  width: 100vw;
  height: 6vh;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary);
  top: 0px;
  left: 0px;
  z-index: 1000;
  overflow: hidden;
}

#logo {
  margin-left: 1vw;
  width: 2vw;
}

#logo-img {
  width: 100%;
  height: 100%;
}

nav {
  margin-right: 2vw;
  display: flex;
  justify-content: space-between;
  color: aliceblue;
  text-decoration: none;
  gap: 24px;
}

nav a {
  font-size: 1.5vw;
  color: #0a0a0a;
  font-weight: bolder;
  padding: 1vw;
  text-transform: uppercase;
}

header a {
  text-decoration: none;
  color: aliceblue;
}

header a:hover {
  background-color: whitesmoke;
  color: var(--color-primary);
  transition: all 200ms ease-in-out;
}

i {
  margin-left: 0.5vw;
}