.content {
    margin: auto;
    color: #fff;
}

.content h1 {
    font-size: 50px;
    font-style: italic;
    margin: auto;
    margin-top: 20px;
    margin-left: 30px;
    text-shadow: 0 0 10px rgba(70, 20, 158), 0 0 14px rgba(70, 20, 158)
}

.content h1 span {
    color: rgba(70, 20, 158);
}

.content p {
    margin: auto;
    margin-top: 430px;
    margin-left: 660px;
    font-size: 30px;
    font-style: italic;
    color: white;
    text-shadow: 0 0 3px rgba(70, 20, 158), 0 0 5px rgba(70, 20, 158)
}

.content .trade {
    display: inline-block;
    margin-top: 30px;
    background: rgba(70, 20, 158);
    color: #fff;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 30px;
}