<section *ngIf="isOwner">
    <h2><span class="username">{{username}}</span> Strollers</h2>

    <div class="catalog">
        <div class="spinner" *ngIf="!strollersCatalog">
            <mat-spinner></mat-spinner>
        </div>
        
        <div class="actionButtons">
            <button class="buttons" [ngStyle]="{'backgroundColor': isActive === true ? '#008B74' : 'white' }" type="button" (click)="activeOn()">Active({{activeCount}})</button>
            <button class="buttons" [ngStyle]="{'backgroundColor': isHolding === true ? '#008B74' : 'white' }" type="button" (click)="holdingOn()">Holding({{holdingCount}})</button>
            <button class="buttons" [ngStyle]="{'backgroundColor': isModerated === true ? '#008B74' : 'white' }" type="button" (click)="moderatedOn()">Moderated({{moderatedCount}})</button>
        </div>
        <ng-container *ngIf="isActive && !!strollersCatalog">
            <div class="catalog-container">
                <div *ngFor="let stroller of strollersCatalog" class="card-container">
                    <app-catalog-item [stroller]="stroller"></app-catalog-item>
                </div>
            </div>
            <div class="pagination" *ngIf="strollersCatalog.length > 0">
                <button class="button" [disabled]="page == 1" (click)="pageMinusHandler()" type="button"><</button>
                <p>{{page}}/{{lastPage}}</p>
                <button class="button" [disabled]="page == lastPage" type="button" (click)="pagePlusHandler()">></button>
            </div>

            <div *ngIf="strollersCatalog.length === 0">
                <h2>There are no items added yet.</h2>
            </div>
        </ng-container>

        <ng-container *ngIf="isHolding && !!strollersHolding">
            <div class="catalog-container">
                <div *ngFor="let stroller of strollersHolding" class="card-container">
                    <app-catalog-item [stroller]="stroller"></app-catalog-item>
                </div>
            </div>
            <!-- <div class="pagination" *ngIf="strollersCatalog.length > 0">
                <button class="button" [disabled]="page == 1" (click)="pageMinusHandler()" type="button">Previous</button>
                <p>{{page}}/{{lastPage}}</p>
                <button class="button" [disabled]="page == lastPage" type="button" (click)="pagePlusHandler()">Next</button>
            </div> -->

            <div *ngIf="strollersHolding.length === 0">
                <h2>There are no holding items!</h2>
            </div>
        </ng-container>

        <ng-container *ngIf="isModerated && !!strollersModerated">
            <div class="catalog-container">
                <div *ngFor="let stroller of strollersModerated" class="card-container">
                    <app-catalog-item [stroller]="stroller"></app-catalog-item>
                </div>
            </div>
            <!-- <div class="pagination" *ngIf="strollersCatalog.length > 0">
                <button class="button" [disabled]="page == 1" (click)="pageMinusHandler()" type="button">Previous</button>
                <p>{{page}}/{{lastPage}}</p>
                <button class="button" [disabled]="page == lastPage" type="button" (click)="pagePlusHandler()">Next</button>
            </div> -->

            <div *ngIf="strollersModerated.length === 0">
                <h2>There are no moderated items!</h2>
            </div>
        </ng-container>
    </div>
</section>

<section *ngIf="!isOwner">
    
    <div class="catalog">
        <h2><span>{{username}}</span> Strollers</h2>
        <div class="spinner" *ngIf="!strollersCatalog">
            <mat-spinner></mat-spinner>
        </div>
        <ng-container *ngIf="!!strollersCatalog">
            <div class="catalog-container">
                <div *ngFor="let stroller of strollersCatalog" class="card-container">
                    <app-catalog-item [stroller]="stroller"></app-catalog-item>
                </div>
            </div>
            
            <div class="pagination" *ngIf="strollersCatalog.length > 0">
                <button class="button" [disabled]="page == 1" (click)="pageMinusHandler()" type="button"><</button>
                <p>{{page}}/{{lastPage}}</p>
                <button class="button" [disabled]="page == lastPage" type="button" (click)="pagePlusHandler()">></button>
            </div>

            <div *ngIf="strollersCatalog.length === 0">
                <h3>There are no items added yet.</h3>
            </div>
        </ng-container>
    </div>
</section>
