:root {
  --color-primary: #008B74;
  --color-primary-2: #00C2A8;
  --color-primary-3: #4FFBDF;
}

.catalog {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
  width: 80%;
  height: 80vh;
  background-color: var(--color-primary-3);
  border-radius: 20px;
  overflow: hidden;
}

.catalog h2 {
  text-align: center;
  color: black;
  font-size: 3vw;
}

.catalog h2 span {
  color: gray;
}

.catalog h3 {
  margin-top: 10%;
  text-align: center;
  font-size: 4vw;
  color: whitesmoke;
}

.catalog-container {
  margin: auto;
  display: flex;
  gap: 5%;
  width: 90%;
  height: 80%;
}
.card-container {
  width: 30%;
  height: 100%;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 1vw;
  margin: 1% auto;
  color: white;
}

.button {
  width: 40px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}

.actionButtons { 
  display: flex;
  margin-bottom: 2%;
}

.buttons {
  font-size: 20px;
  font-weight:bold;
  width: 35%;
  cursor: pointer;
}

.pagination p {
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: bold;
}