
  .h2second {
    margin-left: 550px;
    color: white;
  }
  
  .catalog {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 1000px;
    height: 480px;
  }
  
  .catalog h2 {
    margin: auto;
    margin-top: 200px;
  }
  
  .noresult {
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
    color: white;
  } */
  
  .card-wrapper {
    list-style-type: none;
    display: inline-block;
    margin-left: 20px;
    flex-wrap: wrap;
  }
  
  .pagination {
    margin: auto;
    margin-left: 333px;
    margin-bottom: 20px;
    color: white;
  }
  
  .button {
    width: 120px;
    height: 40px;
  }
  
  .pagination p {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 30px;
  } 

  .card img {
    margin: auto;
    height: 120px;
    width: 120px;
  }
  
  .card-wrapper {
    list-style-type: none;
    display: inline-block;
    margin-left: 20px;
    flex-wrap: wrap;
  }
  
  .card-wrapper h2 {
    margin: auto;
  }
  
  .title,
  .salary {
    font-size: 21px;
  }
  
  .card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 300px;
    height: 400px;
    margin: 25px auto;
    background-color: white;
    border-radius: 5px;
    border: 2px ridge rgb(210, 208, 208);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.24);
  }
  
  .details-btn {
    text-decoration: none;
    margin: auto 50px;
    font-size: 21px;
    width: 130px;
    padding: 10px;
    text-align: center;
    color: white;
    background: #7c7e7e;
  }
  
  .card p {
    min-width: 90% !important;
    margin: auto;
    font-size: 21px;
    max-height: 50px;
    max-width: 30%;
    text-align: center;
  }
  
  .card span {
    padding: 10px;
    margin: auto;
  }

  .spinner {
    position: absolute;
    top: 300px;
    left: 50%;
  }

  .content {
    margin: auto;
    margin-left: 270px;
    display: flex;
  }

  .content h3 {
    font-size: 20px;
    color: white;
    margin-left: 30px;
  }