<div class="catalog">
    <h2>Strollers Catalog</h2>
    <div class="spinner" *ngIf="!strollersCatalog">
        <mat-spinner></mat-spinner>
    </div>

    <ng-container *ngIf="!!strollersCatalog">
        <div class="catalog-container">
            <div *ngFor="let stroller of strollersCatalog" class="card-container">
                <app-catalog-item [stroller]="stroller"></app-catalog-item>
            </div>
        </div>
        <div class="pagination" *ngIf="strollersCatalog.length > 0">
            <button class="button" [disabled]="page == 1" (click)="pageMinusHandler()" type="button"><</button>
            <span>{{page}}/{{lastPage}}</span>
            <button class="button" [disabled]="page == lastPage" type="button" (click)="pagePlusHandler()">></button>
        </div>

        <div *ngIf="strollersCatalog.length === 0">
            <h3>There are no items added yet.</h3>
        </div>
    </ng-container>
</div>